body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
main {
    height: 100vh;
    width: 100vw;
}
header{
    background-color: #c70039;
    height: 9%;
    width: 100%;
    clear: both;
    text-align: left;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo {
    float: left;
    margin: 0;
}
#searchbar {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
}
#usericon {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: green;
}
#meat {
    min-height: 91%;
    width: 100%;
    background-color: #141E46;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.slide {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider_btn {
    width: 5%;
    height: 100px;
    background: none;
    border: none;
    color: white;
    font-size: 48px;
}
#slider{
    margin-top: 20px;
    width: 95%;
    background-color: #c70039;
    display: flex;
    align-items: center;
}
#board {
    margin-top: 20px;
    width: 95%;
}
#board_buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#boards {
    width: 100%;
}
.board_btn {
    border: none;
    padding: 10px;
    width: 25%;
    font-size: 36px;
    font-family: monospace;
    min-width: 215px;
}
.anoun_btn{
    background: linear-gradient(45deg,rgb(0, 174, 255),cyan);
    color: black;
}
.aucti_btn{
    background: linear-gradient(45deg,rgb(255, 188, 64),orange);
    color: white;
}
#auction_brd{
    width: 100%;
}
.auction {
    width: 100%;
}
.auction_box{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

#formlog{
    width: 72vh;
    height: 60vh;
    background-color: #c70039;
    position: relative;
    left: 5vh;
    border-radius: 1vh;
  text-align: center;
  color: white;
  bottom: 5vh;
}
#FormReg{
    color:white ;
    width: 72vh;
    height: 90vh;
    background-color: #c70039;
    position: relative;
    left: 5vh;
    border-radius: 1vh;
  text-align: center    ;
}

.formelement{
  position: relative;
  margin-top: 5vh;
}
.forminput{
    font-size: 2vh;
    width: 50vh;
    height: 4vh;
    border-radius: 0.5vh 0.5vh 0.5vh;
    border:none;
    font-family: 'IBM Plex Mono', monospace;
}

.submitbutton{
    position: relative;
  margin-top: 2vh;
  border-radius: 0.5vh 0.5vh 0.5vh;
  border:none;
  cursor: pointer;
  width: 30vh;
  height: 6vh;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #f8526e;
  border-color: #f8526e;
  color: white;
  font-size:3vh ;
  
}
.submitbutton:hover{
    border: solid white 0.2vh ;
}

