@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
.App{
  font-family: 'IBM Plex Mono', monospace;
  color: white;

}
body {
  margin: 0;
  padding: 0;
}
.baner{
  background-color: #c70039;
  height: 9vh;
  width: 100%;
  clear: both;
  text-align: left;
  font-size: 60px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.uno{
  float: left;
  margin: 0;
}
.dos{
  float: left;
  padding-left: 280px;
  display: flex;
  align-items: center;

}
#hlp{
  width: 700px;
  height: 25px;
  background-color: white;
  border-radius: white;
  border-color: white;
}
.sld{
  width: 1815px;
  height: 250px;
    background-image: linear-gradient(to right, #C9D4FD ,#6C7AB1 );
  position: relative;
  left: 35px;
  top: 50px;
  border-radius: 10px;
text-align: center;
}
h1{
  font-size: 60px;
}
#dd{
font-size: 30px;
}
.main{
width: 100%;
height: 1080px;
float: left;
background-color: #141E46;
}
.stopka{
  width: 100%;
height: 200px;
float: left;
background-color: #141E46;
}
.rej{
  width: 720px;
  height: 650px;
  background-color: #c70039;
  position: relative;
  left: 540px;
  top: 50px;
  border-radius: 10px;
text-align: center;
}
h2{
  font-size: 45px;

}
#np{
display: flex;
position: relative;
text-align: center;
top: 10px;
left: 150px;
}
.ttt{
  font-size: 25px;
  display: flex;
position: relative;
text-align: center;
left: 110px;

}
.vll{
  width: 500px;
  height: 30px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border-color: white;
}

.blok{
  margin-top: 40px;
}
#btt{
  width: 250px;
  height:60px;
  background-color: #fa2561;
  border-color: #fa2561;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
font-size: 20px;
margin-top: 40px;
}
#pb{
  display: flex;
  position: relative;
  left: 800px;
}